In [3]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
# import nltk 
# import string
# import re
# import dateutil.parser
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

# Import Twitter Data

In [4]:
tweets_enphase_energy = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/1_enphase_energy_tweets_cleaned.csv')
tweets_first_solar = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/2_first_solar_tweets_cleaned.csv')
tweets_siemens = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_05_03_21/3_siemens_gamesa_tweets_cleaned_05_03.csv')
tweets_plug_power = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/4_plug_power_tweets_cleaned.csv')
tweets_tesla = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/5_tesla_tweets_cleaned.csv')
tweets_sunrun = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/6_sunrun_tweets_cleaned.csv')
tweets_sunpower = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/7_sunpower_tweets_cleaned.csv')
tweets_meridian_energy = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/8_meridian_energy_tweets_cleaned.csv')

# Generate weekly twitter popularity times series

In [29]:
def delete_header_rows(df):
    index_names = df[df['CreatedAt'] == 'CreatedAt' ].index
    df.drop(index_names, inplace = True)
    return df

def select_columns(df, columns):
    df = df[columns]
    return df

def create_year_week(df):
    df['Date'] = pd.to_datetime(df['CreatedAt'], errors='coerce')
    df['Year-Week'] = df['Date'].dt.strftime('%Y-%U')
    return df

def add_company_name(df, company):
    df['Company'] = company
    return df

def generate_weekly_counts(tweets_all, company):
    # delete headers on csv
    tweets_all = delete_header_rows(tweets_all)
    
    # drop unwanted columns 
    columns_to_keep = ['CreatedAt','TweetText', 'Tweet_stemmed']
    tweets = select_columns(tweets_all, columns_to_keep)
    
    # create year-week 
    tweets = create_year_week(tweets)
    
    # count popularity per week 
    tweets_count = tweets.groupby('Year-Week').count()
    tweets_count.drop(['TweetText', 'Tweet_stemmed', 'Date'], axis=1, inplace=True)
    
    # create count column
    tweets_count.rename(columns={"CreatedAt":company}, inplace=True)
    tweets_count.sort_index()
    
    return tweets_count

<ipython-input-29-a9f7cd39d920>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['CreatedAt'], errors='coerce')
<ipython-input-29-a9f7cd39d920>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Week'] = df['Date'].dt.strftime('%Y-%U')

In [47]:
weekly_tweet_count_enphase_energy = generate_weekly_counts(tweets_enphase_energy, 'Enphase Energy');
weekly_tweet_count_first_solar = generate_weekly_counts(tweets_first_solar, 'First Solar');
weekly_tweet_count_siemens = generate_weekly_counts(tweets_siemens, 'Siemens');
weekly_tweet_count_plug_power = generate_weekly_counts(tweets_siemens, 'Plug Power');
weekly_tweet_count_tesla = generate_weekly_counts(tweets_tesla, 'Tesla');
weekly_tweet_count_sunrun = generate_weekly_counts(tweets_sunrun, 'Sunrun');
weekly_tweet_count_sunpower = generate_weekly_counts(tweets_sunpower, 'Sunpower');
weekly_tweet_count_meridian_energy = generate_weekly_counts(tweets_meridian_energy, 'Meridian');

<ipython-input-29-a9f7cd39d920>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['CreatedAt'], errors='coerce')
<ipython-input-29-a9f7cd39d920>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Week'] = df['Date'].dt.strftime('%Y-%U')

# Merge Test

In [58]:
# weekly_tweet_count_enphase_energy

In [59]:
# weekly_tweet_count_plug_power

In [60]:
# weekly_tweet_count_all = pd.merge(weekly_tweet_count_enphase_energy,weekly_tweet_count_plug_power, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [61]:
# weekly_tweet_count_all = pd.merge(weekly_tweet_count_all, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [63]:
# weekly_tweet_count_all

# Merge Popularity for all companies

In [64]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_enphase_energy,weekly_tweet_count_first_solar, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [65]:
weekly_tweet_count_all

           Enphase Energy  First Solar
Year-Week
2011-01                27         78.0
2011-02                21         79.0
2011-03                47         94.0
2011-04                21        139.0
2011-05                41        157.0
...                   ...          ...
2021-09              1002        236.0
2021-10              1189        372.0
2021-11               634        177.0
2021-12               750        238.0
2021-13               546        202.0

[539 rows x 2 columns]

In [68]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_all,weekly_tweet_count_siemens, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [70]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_all,weekly_tweet_count_plug_power, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [72]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_all,weekly_tweet_count_sunrun, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [74]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_all,weekly_tweet_count_sunpower, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [76]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_all,weekly_tweet_count_meridian_energy, how='left', left_on=['Year-Week'], right_on=['Year-Week'])

In [77]:
weekly_tweet_count_all

,Enphase Energy,First Solar,Siemens,Plug Power,Sunrun,Sunpower,Meridian
Year-Week,,,,,,,
2011-01,27,78.0,29,29,45.0,46,3.0
2011-02,21,79.0,95,95,60.0,37,6.0
2011-03,47,94.0,53,53,136.0,41,10.0
2011-04,21,139.0,80,80,95.0,52,5.0
2011-05,41,157.0,61,61,97.0,43,9.0
...,...,...,...,...,...,...,...
2021-09,1002,236.0,723,723,424.0,267,40.0
2021-10,1189,372.0,447,447,545.0,237,39.0
2021-11,634,177.0,377,377,353.0,208,18.0
2021-12,750,238.0,586,586,672.0,289,37.0
2021-13,546,202.0,430,430,389.0,205,25.0

In [78]:
weekly_tweet_count_all.to_csv('./weekly_tweet_count_all.csv')