In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

from statsmodels.tsa.stattools import grangercausalitytests

# Global variables and paths

In [2]:
company = 'sunrun'
ticker = 'RUN'

In [3]:
path_stocks = '../download_stock_data/' + ticker + '.csv'
path_twitter_sentiment = '../../../data/team/NLTK Time Series/sentiment_nltk_fixed_final.csv'

# Import Data

## Import Stock Data

In [5]:
stock = pd.read_csv(path_stocks)
stock['Date'] = pd.to_datetime(stock['timestamp'])
stock.set_index('Date', inplace=True);
stock.drop(['timestamp'],axis=1, inplace=True)

In [7]:
stock_close = pd.DataFrame(stock['close'])

In [8]:
stock_close

            close
Date
2021-05-18  40.11
2021-05-17  40.00
2021-05-14  41.42
2021-05-13  39.45
2021-05-12  39.63
...           ...
2015-08-11   9.79
2015-08-10  10.12
2015-08-07  10.14
2015-08-06   8.77
2015-08-05  10.77

[1457 rows x 1 columns]

## Import Twitter Data

In [ ]:
twitter_sentiment = pd.read_csv(path_twitter_sentiment)
twitter_sentiment.drop('Unnamed: 0', axis=1, inplace=True)
twitter_sentiment['Date'] = pd.to_datetime(twitter_sentiment['CreatedAt'].str[:10], errors='coerce')
twitter_sentiment.set_index('Date',inplace=True);
twitter_sentiment.drop('CreatedAt', axis=1, inplace=True)

# Select Company

In [ ]:
# select twitter_sentiment data based on company
twitter_sentiment_company = twitter_sentiment[twitter_sentiment['company'] == company]

# Create daily tweet count

In [ ]:
tweets_daily = twitter_sentiment_company.groupby(['Date']).count()
tweets_daily = pd.DataFrame(tweets_daily['compound'])
tweets_daily.rename(columns={'compound':'Daily Tweets'},inplace=True)

# Create Sentiment data

In [ ]:
sentiment = twitter_sentiment[['neg','pos','compound']]

# Merge Data

In [ ]:
data = pd.merge(tweets_daily, sentiment, how='left', left_on=['Date'], right_on=['Date'] )

In [ ]:
data

In [ ]:
data = pd.merge(data, stock_prices, how='left', left_on=['Date'], right_on=['Date'] )

In [ ]:
data.dropna(inplace=True)

# Export Data

In [ ]:
# name of output csv
output = "./data_" + company + "_"  + ticker + ".csv"

In [ ]:
data.to_csv(output)

In [ ]:
data