In [3]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
# import nltk 
# import string
# import re
# import dateutil.parser
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

# Import Twitter Data

In [4]:
tweets_enphase_energy = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/1_enphase_energy_tweets_cleaned.csv')
tweets_first_solar = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/2_first_solar_tweets_cleaned.csv')
tweets_siemens = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_05_03_21/3_siemens_gamesa_tweets_cleaned_05_03.csv')
tweets_plug_power = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/4_plug_power_tweets_cleaned.csv')
tweets_tesla = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/5_tesla_tweets_cleaned.csv')
tweets_sunrun = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/6_sunrun_tweets_cleaned.csv')
tweets_sunpower = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/7_sunpower_tweets_cleaned.csv')
tweets_meridian_energy = pd.read_csv('../../preprocessing_v2/twitter_data_cleaned_04_24_21/8_meridian_energy_tweets_cleaned.csv')

# Generate weekly twitter popularity times series

In [29]:
def delete_header_rows(df):
    index_names = df[df['CreatedAt'] == 'CreatedAt' ].index
    df.drop(index_names, inplace = True)
    return df

def select_columns(df, columns):
    df = df[columns]
    return df

def create_year_week(df):
    df['Date'] = pd.to_datetime(df['CreatedAt'], errors='coerce')
    df['Year-Week'] = df['Date'].dt.strftime('%Y-%U')
    return df

def add_company_name(df, company):
    df['Company'] = company
    return df

def generate_weekly_counts(tweets_all, company):
    # delete headers on csv
    tweets_all = delete_header_rows(tweets_all)
    
    # drop unwanted columns 
    columns_to_keep = ['CreatedAt','TweetText', 'Tweet_stemmed']
    tweets = select_columns(tweets_all, columns_to_keep)
    
    # create year-week 
    tweets = create_year_week(tweets)
    
    # count popularity per week 
    tweets_count = tweets.groupby('Year-Week').count()
    tweets_count.drop(['TweetText', 'Tweet_stemmed', 'Date'], axis=1, inplace=True)
    
    # create count column
    tweets_count.rename(columns={"CreatedAt":company}, inplace=True)
    tweets_count.sort_index()
    
    
    # add name of company 
#     tweets_count = add_company_name(tweets_count, company)
    
    return tweets_count

In [30]:
# tweets_plug_power.head(1)

In [31]:
weekly_tweet_count_plug_power = generate_weekly_counts(tweets_plug_power, 'Plug Power');

<ipython-input-29-a9f7cd39d920>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['CreatedAt'], errors='coerce')
<ipython-input-29-a9f7cd39d920>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Week'] = df['Date'].dt.strftime('%Y-%U')

In [32]:
weekly_tweet_count_enphase_energy = generate_weekly_counts(tweets_enphase_energy, 'ENPH');

<ipython-input-29-a9f7cd39d920>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['CreatedAt'], errors='coerce')
<ipython-input-29-a9f7cd39d920>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year-Week'] = df['Date'].dt.strftime('%Y-%U')

In [33]:
weekly_tweet_count_enphase_energy

           ENPH
Year-Week
2011-01      27
2011-02      21
2011-03      47
2011-04      21
2011-05      41
...         ...
2021-09    1002
2021-10    1189
2021-11     634
2021-12     750
2021-13     546

[539 rows x 1 columns]

In [34]:
weekly_tweet_count_all = pd.merge(weekly_tweet_count_enphase_energy,weekly_tweet_count_plug_power, how='left', left_on=['Year-Week','Ticker'], right_on=['Year-Week','Ticker'])

           ENPH
Year-Week
2011-01      27
2011-02      21
2011-03      47
2011-04      21
2011-05      41
...         ...
2021-09    1002
2021-10    1189
2021-11     634
2021-12     750
2021-13     546

[539 rows x 1 columns]