In [4]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

from statsmodels.tsa.stattools import grangercausalitytests

# Import Data

## Import Stock Data

In [27]:
stock_prices = pd.read_csv('../download_stock_data/RUN.csv')
stock_prices['Date'] = pd.to_datetime(stock_prices['timestamp'], errors='coerce');
stock_prices.set_index('Date', inplace=True);
stock_prices.drop(['timestamp'],axis=1, inplace=True)

In [28]:
stock_prices

             open     high     low   close    volume
Date
2021-05-18  40.40  41.2394  38.940   40.11   5485380
2021-05-17  40.44  41.0173  38.702   40.00   5130438
2021-05-14  40.58  42.1000  40.220   41.42   5396315
2021-05-13  40.18  41.3600  38.110   39.45   6998628
2021-05-12  40.81  41.9800  39.150   39.63   9449415
...           ...      ...     ...     ...       ...
2015-08-11  10.00  10.0300   9.500    9.79    349732
2015-08-10  10.73  10.7300  10.000   10.12    435917
2015-08-07   9.19  10.2000   8.770   10.14   1624299
2015-08-06  11.00  11.2000   8.230    8.77   3570430
2015-08-05  13.06  13.3100  10.400   10.77  14096975

[1457 rows x 5 columns]

In [29]:
# Restrict the time range
# stock_prices = stock_prices['2015-08-01':'2021-04-01']

In [30]:
stock_prices

Empty DataFrame
Columns: [ open,  high,  low,  close,  volume]
Index: []