In [23]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import nltk 
import string
import re
import dateutil.parser
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

## Load data

In [68]:
# Load dataset
twitter_data_all = pd.read_csv('../../data/data_collected_ref_cleaned/2_first_solar_tweets_cleaned_v2.csv')

# Clean Twitter data

In [91]:
def delete_header_rows(df):
    index_names = df[df['CreatedAt'] == 'CreatedAt' ].index
    df.drop(index_names, inplace = True)
    df.info()
    return df

## Delete header rows

In [92]:
twitter_data_all = delete_header_rows(twitter_data_all)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156812 entries, 0 to 157163
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CreatedAt         156812 non-null  object
 1   TweetId           156812 non-null  object
 2   AuthorId          156812 non-null  object
 3   TweetText         156812 non-null  object
 4   Tweet_punct       156812 non-null  object
 5   Tweet_tokenized   156812 non-null  object
 6   Tweet_nonstop     156812 non-null  object
 7   Tweet_stemmed     156812 non-null  object
 8   Tweet_lemmatized  156812 non-null  object
dtypes: object(9)
memory usage: 17.0+ MB

## Select Columns

In [ ]:
def select_columns(df, columns):
    twitter_data = twitter_data_all[columns]
    twitter_data.head()

In [81]:
columns = ['CreatedAt','TweetText', 'Tweet_stemmed']

TypeError: 'function' object is not subscriptable

# Group By Week

In [ ]:
twitter_data.columns

In [ ]:
twitter_data.index = pd.to_datetime(twitter_data['CreatedAt'])

In [ ]:
twitter_data

In [ ]:
twitter_data_weekly_count = pd.DataFrame(twitter_data.resample('W')['TweetText'].count())

In [ ]:
twitter_data_weekly_count

In [ ]:
twitter_data_weekly_count.rename(columns = {"TweetText":"Count"}, inplace=True)

In [ ]:
twitter_data_weekly_count

In [ ]:
twitter_data_weekly_count.reset_index(inplace=True)

In [ ]:
# twitter_data_weekly_count.drop('index', axis=1, inplace=True)

In [ ]:
twitter_data_weekly_count

In [ ]:
plt.figure(figsize=(15,6))
df1 = twitter_data_weekly_count.set_index('CreatedAt')
fig,ax = plt.subplots(figsize=(15,6))
df1.plot(kind='line',ax=ax)
plt.title("First Solar Tweet Time Series")
plt.show()

In [ ]:
twitter_data_weekly_count['Company'] = "''"