In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_colwidth', 100)

from statsmodels.tsa.stattools import grangercausalitytests

# Global variables and paths

In [2]:
company = 'sunrun'
ticker = 'RUN'

In [3]:
path_stocks = '../download_stock_data/' + ticker + '.csv'
path_twitter_sentiment = '../../../data/team/NLTK Time Series/sentiment_nltk_fixed_final.csv'

# Import Data

## Import Stock Data

In [4]:
stock = pd.read_csv(path_stocks)
stock['Date'] = pd.to_datetime(stock['timestamp'])
stock.set_index('Date', inplace=True);
stock.drop(['timestamp'],axis=1, inplace=True)
stock_close_daily = pd.DataFrame(stock['close'])

## Import Twitter Data

In [5]:
twitter_sentiment = pd.read_csv(path_twitter_sentiment)
twitter_sentiment.drop('Unnamed: 0', axis=1, inplace=True)
twitter_sentiment['Date'] = pd.to_datetime(twitter_sentiment['CreatedAt'].str[:10], errors='coerce')
twitter_sentiment.set_index('Date',inplace=True);
twitter_sentiment.drop('CreatedAt', axis=1, inplace=True)

# Select Company

In [6]:
# select twitter_sentiment data based on company
twitter_sentiment_company = twitter_sentiment[twitter_sentiment['company'] == company]

# Create daily tweet count

In [7]:
tweets_daily = twitter_sentiment_company.groupby(['Date']).count()
tweets_daily = pd.DataFrame(tweets_daily['compound'])
tweets_daily.rename(columns={'compound':'Daily Tweets'},inplace=True)

# Create Sentiment data

In [8]:
sentiment = twitter_sentiment_company[['neg','pos','compound']]

In [9]:
sentiment_daily = pd.DataFrame(sentiment['neg']).groupby(['Date']).mean()

In [10]:
sentiment_daily.sort_index(ascending=False);

In [11]:
sentiment_daily['pos'] = pd.DataFrame(sentiment['pos']).groupby(['Date']).mean()

In [12]:
sentiment_daily['compound'] = pd.DataFrame(sentiment['compound']).groupby(['Date']).mean()

In [13]:
sentiment_daily.sort_index(ascending=False)

                 neg       pos  compound
Date
2021-03-31  0.021383  0.158252  0.238016
2021-03-30  0.044370  0.180543  0.278541
2021-03-29  0.055646  0.157047  0.206850
2021-03-28  0.026643  0.127321  0.243543
2021-03-27  0.077377  0.185189  0.165675
...              ...       ...       ...
2011-01-05  0.000000  0.310000  0.620367
2011-01-04  0.026625  0.133500  0.157488
2011-01-03  0.027889  0.147889  0.217411
2011-01-02  0.028500  0.341167  0.551533
2011-01-01  0.134000  0.378000  0.612400

[3657 rows x 3 columns]

In [14]:
# sentiment_daily = sentiment.groupby(['Date']).count()

# Merge Data

In [15]:
data = pd.merge(tweets_daily, sentiment_daily, how='left', left_on=['Date'], right_on=['Date'] )
data = pd.merge(data, stock_close_daily, how='left', left_on=['Date'], right_on=['Date'] )
data.dropna(inplace=True)
data.rename(columns={'Daily Tweets':'daily_tweets','close':'closing_price', 'compound':'compound_sentiment', 'neg':'neg_sentiment','pos':'pos_sentiment'}, inplace=True)

# Export Data

In [16]:
# name of output csv
output = "./data_" + company + "_"  + ticker + ".csv"

In [17]:
data.to_csv(output)

In [18]:
data

,daily_tweets,neg_sentiment,pos_sentiment,compound_sentiment,closing_price
Date,,,,,
2015-08-05,536,0.026535,0.131679,0.152896,10.77
2015-08-06,361,0.027022,0.056310,0.056473,8.77
2015-08-07,125,0.050128,0.100672,0.068661,10.14
2015-08-10,63,0.049206,0.122540,0.098798,10.12
2015-08-11,56,0.091375,0.129625,0.039154,9.79
...,...,...,...,...,...
2021-03-25,61,0.027705,0.125852,0.188192,53.00
2021-03-26,80,0.029213,0.169575,0.294971,57.09
2021-03-29,127,0.055646,0.157047,0.206850,51.91
2021-03-30,127,0.044370,0.180543,0.278541,57.92
2021-03-31,107,0.021383,0.158252,0.238016,60.48

# Normalize Data

In [19]:
def normalize_daily_tweets(df):
    max_count = df['daily_tweets'].max()
    min_count = df['daily_tweets'].min()
    df['daily_tweets'] = (df['daily_tweets'] - min_count) / (max_count - min_count)
    return df


def normalize_neg_sentiment(df):
    max_count = df['neg_sentiment'].max()
    min_count = df['neg_sentiment'].min()
    df['neg_sentiment'] = (df['neg_sentiment'] - min_count) / (max_count - min_count)
    return df


def normalize_pos_sentiment(df):
    max_count = df['pos_sentiment'].max()
    min_count = df['pos_sentiment'].min()
    df['pos_sentiment'] = (df['pos_sentiment'] - min_count) / (max_count - min_count)
    return df


def normalize_compound_sentiment(df):
    max_count = df['compound_sentiment'].max()
    min_count = df['compound_sentiment'].min()
    df['compound_sentiment'] = (df['compound_sentiment'] - min_count) / (max_count - min_count)
    return df


def normalize_closing_price(df):
    max_count = df['closing_price'].max()
    min_count = df['closing_price'].min()
    df['closing_price'] = (df['closing_price'] - min_count) / (max_count - min_count)
    return df

In [20]:
data

,daily_tweets,neg_sentiment,pos_sentiment,compound_sentiment,closing_price
Date,,,,,
2015-08-05,536,0.026535,0.131679,0.152896,10.77
2015-08-06,361,0.027022,0.056310,0.056473,8.77
2015-08-07,125,0.050128,0.100672,0.068661,10.14
2015-08-10,63,0.049206,0.122540,0.098798,10.12
2015-08-11,56,0.091375,0.129625,0.039154,9.79
...,...,...,...,...,...
2021-03-25,61,0.027705,0.125852,0.188192,53.00
2021-03-26,80,0.029213,0.169575,0.294971,57.09
2021-03-29,127,0.055646,0.157047,0.206850,51.91
2021-03-30,127,0.044370,0.180543,0.278541,57.92
2021-03-31,107,0.021383,0.158252,0.238016,60.48

In [21]:
data_normalized = normalize_daily_tweets(data)

In [22]:
data_normalized = normalize_neg_sentiment(data)

In [23]:
data_normalized = normalize_pos_sentiment(data)

In [24]:
data_normalized = normalize_compound_sentiment(data)

In [25]:
data_normalized = normalize_closing_price(data)

In [26]:
data_normalized

,daily_tweets,neg_sentiment,pos_sentiment,compound_sentiment,closing_price
Date,,,,,
2015-08-05,0.554404,0.136924,0.272730,0.371615,0.066834
2015-08-06,0.373057,0.139435,0.099872,0.275538,0.045064
2015-08-07,0.128497,0.258662,0.201615,0.287682,0.059976
2015-08-10,0.064249,0.253906,0.251769,0.317711,0.059758
2015-08-11,0.056995,0.471497,0.268019,0.258280,0.056166
...,...,...,...,...,...
2021-03-25,0.062176,0.142958,0.259367,0.406784,0.526505
2021-03-26,0.081865,0.150737,0.359644,0.513181,0.571024
2021-03-29,0.130570,0.287133,0.330912,0.425375,0.514640
2021-03-30,0.130570,0.228951,0.384800,0.496810,0.580059
2021-03-31,0.109845,0.110338,0.333676,0.456430,0.607924

In [27]:
output_normalized = "./data_" + company + "_"  + ticker + "_normalized.csv"
data.to_csv(output_normalized)
data_normalized

,daily_tweets,neg_sentiment,pos_sentiment,compound_sentiment,closing_price
Date,,,,,
2015-08-05,0.554404,0.136924,0.272730,0.371615,0.066834
2015-08-06,0.373057,0.139435,0.099872,0.275538,0.045064
2015-08-07,0.128497,0.258662,0.201615,0.287682,0.059976
2015-08-10,0.064249,0.253906,0.251769,0.317711,0.059758
2015-08-11,0.056995,0.471497,0.268019,0.258280,0.056166
...,...,...,...,...,...
2021-03-25,0.062176,0.142958,0.259367,0.406784,0.526505
2021-03-26,0.081865,0.150737,0.359644,0.513181,0.571024
2021-03-29,0.130570,0.287133,0.330912,0.425375,0.514640
2021-03-30,0.130570,0.228951,0.384800,0.496810,0.580059
2021-03-31,0.109845,0.110338,0.333676,0.456430,0.607924

In [28]:
data

,daily_tweets,neg_sentiment,pos_sentiment,compound_sentiment,closing_price
Date,,,,,
2015-08-05,0.554404,0.136924,0.272730,0.371615,0.066834
2015-08-06,0.373057,0.139435,0.099872,0.275538,0.045064
2015-08-07,0.128497,0.258662,0.201615,0.287682,0.059976
2015-08-10,0.064249,0.253906,0.251769,0.317711,0.059758
2015-08-11,0.056995,0.471497,0.268019,0.258280,0.056166
...,...,...,...,...,...
2021-03-25,0.062176,0.142958,0.259367,0.406784,0.526505
2021-03-26,0.081865,0.150737,0.359644,0.513181,0.571024
2021-03-29,0.130570,0.287133,0.330912,0.425375,0.514640
2021-03-30,0.130570,0.228951,0.384800,0.496810,0.580059
2021-03-31,0.109845,0.110338,0.333676,0.456430,0.607924